body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }

.navbar {
    background: #363755;
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  }
  
  .navbar > h1 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .nav-menu {
    display: flex;
    gap: 30px;
  }

  .nav-menu a {
    color: white;
    text-decoration: none;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  }

  .nav-menu a:hover{
    box-shadow: inset 100px 0 0 0 #5bd3c6;
    color: #363755;
  }

  .hero-container {
    display: flex;
    height: 470px;
    padding: 0 10%;
  }
  
  .hero-container > div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hero-container h1 {
    font-size: 60px;
    margin: 20px 0;
    font-weight: bolder;
  }
  
  .hero-container p {
    font-size: 30px;
    color: gray;
  }

  .description-container {
    height: 480px;
    margin: 40px 0;
    padding: 0 10%;
    display: flex;
  }
  
  .description-container > div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 6px 12px 0px rgba(1, 1, 1, 0.1);
    border-top: 1px solid rgb(228, 228, 228);
  }
  
  .description-container h2 {
    font-weight: bolder;
  }
  
  .description-container p {
    color: gray;
  }
  
  .description-container > div > div {
    width: 500px;
  }
  
  .description-container > img {
    width: 40%;
    object-fit: cover;
  }